abbr {
	text-decoration: none;
}

h5 {
	background-color: aliceblue;
	color: blue;
}

img.horizontal {
	width: 60px;
	height: 40px;
}

img.square {
	width: 40px;
	height: 40px;
}

th, td {
	text-align: center;
	background-color: #96D4D4;
}

caption {
	font-weight: bold;
	font-size: 1.5em;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
}

.production {
	background-image: url('images/production-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

button {
	background-color: dodgerblue;
	color: white;
	margin: 5px;
}
